.wrapper{
    display: flex;
}

.right-button{
    margin-left: auto;
}
.carousel-indicators{
    display: none !important;
}
.accordion-button:not(.collapsed)
{
    display: inline;
    color: black !important;
    background-color: white !important;
}
.accordion-button:after(.collapsed){
    display: inline !important;

}
.box{
    padding-left: 150px;
    padding-right: 150px;
    height: 580px;
}
.fearturebook
{
    height: 300px;
}
.style_img{
    width: 300px !important;
    height: 400px;

}
.card{
    border-radius: 0 !important;

}
.btn{
        height: 50px !important;
        width: 200px !important;

}
